@use 'var';

body {
  display: grid;
  grid-template-rows: 33vh 24vh 43vh;
  grid-template-columns: 1fr repeat(4, 10rem) 1fr;
  column-gap: 1.5rem;
  // column-gap: 1rem;

  background-color: #281f31;
  // margin: 1.5rem;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr repeat(4, 8rem) 1fr;
  }

  @media only screen and (max-width: 500px) {
    column-gap: 0.7rem;
    grid-template-rows: 33vh 12vh 55vh;
    grid-template-columns: 1fr repeat(4, 4.5rem) 1fr;
  }
}

.stars {
  z-index: -1;
  grid-column: 1 / 7;
  grid-row: 1 / 4;
  fill: white;
}
.hill {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  align-self: end;

  // justify-self: stretch;
}
.attribution {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: center;
  font-family: var.$font;
  color: var.$grayish-blue;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: var.$soft-red;
  }
  @media only screen and (max-width: 500px) {
    font-size: 0.6rem;
  }
}
.announcements {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  h1 {
    color: var.$white;
    letter-spacing: 5px;
    text-align: center;
    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 500px) {
      font-size: 1.5rem;
    }
  }
}

.media {
  grid-row: 3 / 4;
  grid-column: 3 / 5;
  // justify-self: center;
  // align-self: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  & svg {
    fill: #8385a9;
    cursor: pointer;
    &:hover {
      fill: var.$soft-red;
    }
  }
}
