@use 'var';

.time {
  display: grid;
  grid-template-rows: repeat(2, 37%) 26%;
  grid-template-columns: 1fr;

  // div {
  //   // width: 100%;

  //   // justify-self: center;
  //   align-self: center;
  //   border-radius: 10px;
  //   box-shadow: 0 10px var.$very-dark-blue;
  // }
  perspective: 600px;
  & > p {
    color: var.$grayish-blue;
    letter-spacing: 5px;
    justify-self: center;
    align-self: end;
  }
}

.slide {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // align-content: center;
  border-radius: 10px;

  // box-shadow: 0 10px var.$very-dark-blue;
  background-color: var.$dark-desaturated-blue2;
  overflow: hidden;
  // position: relative;
  // perspective: 100px;
  // perspective-origin: top;
  // transform: rotateY(45deg);
  transform-origin: bottom;
  transition: transform 1s;
  transform-style: preserve-3d;
  & > p {
    position: absolute;
    backface-visibility: hidden;
    // height: 100%;
    // display: inline;
    // position: absolute;
    color: var.$soft-red2;
    // background: -webkit-linear-gradient(var.$soft-red2 50%, var.$soft-red 50%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // color: var.$soft-red;
    font-size: 5.5rem;
    font-family: var.$font;
    bottom: -30px;
    line-height: 0.7;
    // transform: translateY(50%);

    // text-align: center;
    // vertical-align: middle;
  }
  & > p:last-child {
    transform: rotateY(180deg);
  }

  &:hover {
    transform: rotateX(-180deg);
  }
}

.slideb {
  display: flex;
  justify-content: center;
  align-items: center;
  // align-content: center;
  border-radius: 10px;
  box-shadow: 0 10px var.$very-dark-blue;
  background-color: var.$dark-desaturated-blue3;
  overflow: hidden;
  position: relative;
  p {
    // height: 100%;
    // display: inline;
    position: absolute;
    color: var.$soft-red;
    // background: -webkit-linear-gradient(var.$soft-red2 50%, var.$soft-red 50%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // color: var.$soft-red;
    top: -32px;
    line-height: 0.7;
    // transform: translateY(-31%);
    font-size: 5.5rem;
    font-family: var.$font;
    // text-align: center;
    // vertical-align: middle;
  }
}

.days {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  & > p {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
.hours {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  & > p {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
.minutes {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  & > p {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
.seconds {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  & > p {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
