// ### Primary

$grayish-blue: hsl(237, 18%, 59%);
$grayish-blue2: hsla(237, 18%, 59%, 0.3);
$grayish-blue3: hsla(237, 18%, 59%, 0.3);
$soft-red: hsl(345, 95%, 68%);
$soft-red2: hsl(345, 95%, 65%);

// ### Neutral

$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$dark-desaturated-blue2: hsl(236, 21%, 22%);
$dark-desaturated-blue3: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark: hsl(234, 17%, 12%);

// $color-1: #ffffff;
// $color-2: #828282;
// $color-3: #333333;
// $color-4: #5c94e1;
// $color-bg: #e0e0e0;
// $color-bg: #a9a9a9;
// $color-4: #4f4f4f;
$font: 'Red Hat Text', sans-serif;

// ### font-family: 'Red Hat Text', sans-serif;

// - Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
